<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="webTestSettings" type="Aliencube.Azure.Insights.WebTests.Services.Settings.WebTestSettingsElement, Aliencube.Azure.Insights.WebTests.Services" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <webTestSettings>
    <authentication clientId="[CLIENT_ID]"
                    clientSecret="[CLIENT_SECRET]"
                    tenantName="[TENANT_NAME]"
                    aadInstance="https://login.microsoftonline.com/"
                    managementInstance="https://management.core.windows.net/" />

    <applicationInsights name="[APPLICATION_INSIGHTS_NAME]"
                         resourceGroup="[RESOURCE_GROUP_NAME]"
                         subscriptionId="[SUBSCRIPTION_ID]" />

    <webTests>
      <webTest testType="UrlPingTest"
               parseDependentRequests="true" retriesForWebTestFailure="enable" testFrequency="5"
               testLocations="AuSydney">
        <successCriteria testTimeout="120" requireHttpResponse="true" statusCodeMustEqual="200" requireContentMatch="false" />
        <alerts statusEnabled="enabled" alertLocationThreshold="1" alertFailureTimeWindow="5" sendAlertToAdmin="true"
                recipients="[COMMA_DELIMITED_EMAILS]" />
      </webTest>

      <webTest testType="MultiStepTest"
               parseDependentRequests="true" retriesForWebTestFailure="enable" testFrequency="5"
               testLocations="AuSydney">
        <successCriteria testTimeout="120" requireHttpResponse="true" statusCodeMustEqual="200" requireContentMatch="false" />
        <alerts statusEnabled="enabled" alertLocationThreshold="1" alertFailureTimeWindow="5" sendAlertToAdmin="true"
                recipients="[COMMA_DELIMITED_EMAILS]" />
      </webTest>
    </webTests>
  </webTestSettings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.2.0.0" newVersion="6.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>